@page
@model WebApp.Pages.Cars.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактирай</h1>

<h4>Кола</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Car.Id" />
            <div class="form-group">
                <label asp-for="Car.Brand" class="control-label">Марка</label>
                <input asp-for="Car.Brand" class="form-control" />
                <span asp-validation-for="Car.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.RgNum" class="control-label">Регистрационен номер</label>
                <input asp-for="Car.RgNum" class="form-control" />
                <span asp-validation-for="Car.RgNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Km" class="control-label">Изминати километри</label>
                <input asp-for="Car.Km" class="form-control" />
                <span asp-validation-for="Car.Km" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.IsRented"></label>
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="Car.IsRented" value="true" checked>
                        <label class="form-check-label" for="Car_IsRented">
                            Да
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="Car.IsRented" value="false">
                        <label class="form-check-label" for="Car_IsRented">
                            Не
                        </label>
                    </div>
                </div>
                <span asp-validation-for="Car.IsRented" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Запази" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Обратно към списъка</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
