@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-top: 10px;">Rent A Car</h1>

    <div style="text-align:center; margin-top: 20px;">
        <div style="display:inline-block; margin-right: 20px;">
            <a href="/Cars/Index" class="btn btn-primary mb-2">Към автомобилите</a>
            <br>
            <img src="~/Photos/snim1.jpg" style="width: 450px; height: 450px;">
        </div>
        <div style="display:inline-block;">
            <a href="/Customers/Index" class="btn btn-primary mb-2">Към клиентите</a>
            <br>
            <img src="~/Photos/snim2.jpg" style="width: 450px; height: 450px;">
        </div>
    </div>

</div>
